.compare-placeholder {
    margin-top: 10px;
    width: 300px;
    height: 280px;
    border: 1px solid #eee;
    padding: 15px;
    position: relative;



    &-add {
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &-icon {
            font-size: 30px;
            height: 65px;
            width: 65px;
            padding: 15px;
            border: 1px dashed #b2aaaa;
            border-radius: 50%;
            color: #666;
            margin-bottom: 8px;
            cursor: pointer;
        }

        span {
            font-size: 14px;
            font-weight: 500;
            color: #666;

        }
    }


}

.compare-placeholder-select {}

.compare-placeholder-select-item {
    position: relative;

    &.disabled {
        input[type="text"] {
            &::placeholder {
                color: rgb(182, 174, 174);
            }
        }

        svg {
            color: rgb(182, 174, 174);
        }
    }

    input[type="text"] {
        background: #fff;
        border: 1px solid rgba(36, 39, 44, .3);
        border-bottom: none;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        box-shadow: none;
        font-size: 15px;
        height: 48px;
        padding: 0 30px 0 16px;
        text-shadow: 0 0 0 #24272c;
        width: 100%;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: rgb(96, 94, 94);
        }

    }

    .down {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
        color: rgb(96, 94, 94);
    }

    &:last-child {
        input[type="text"] {
            border-bottom: 1px solid rgba(36, 39, 44, .3);
        }
    }
}

.compare-item {
    padding: 15px;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    padding-bottom: 40px;
    position: absolute;
    top: 7px;
    background: #fff;
    width: 90%;
    height: 90%;

    .times {
        text-align: right;
        display: block;
        margin-left: auto;
        margin-bottom: 8px;
        cursor: pointer;
    }

    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 8px;
        border-bottom: 1px solid #eee;
        list-style: none;
        padding-right: 20px;

        li {
            font-size: 16px;
            line-height: 16px;
            text-transform: capitalize;
            position: relative;
            font-weight: 500;
            cursor: pointer;

            &.active {
                color: #f75d34;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    height: 3px;
                    left: 0;
                    width: 100%;
                    background-color: #f75d34;
                }
            }
        }
    }

    &-search {
        position: relative;

        input[type="text"] {
            -webkit-text-fill-color: transparent;
            -webkit-appearance: none;
            background: #fff;
            border: 1px solid rgba(36, 39, 44, .3);
            -webkit-border-radius: 2px;
            border-radius: 2px;
            box-shadow: none;
            font-size: 16px;
            height: 48px;
            padding: 0 30px 0 16px;
            text-shadow: 0 0 0 #24272c;
            width: 100%;

            &:focus {
                outline: none;
            }
        }

        &-dropdown {
            position: absolute;
            overflow: auto;
            height: 220px;
            width: 100%;
            background: #fff;
            box-shadow: 0 2px 8px 0 rgb(0 0 0 / 30%);
            z-index: 2600;
            top: 48px;
            left: 0;
            user-select: none;

            &-variant-item {
                font-size: 14px;
                padding: 8px 10px;
                margin-bottom: 3px;
                cursor: pointer;

                &:hover {
                    background-color: #e9ecef;
                }
            }

            &-item {
                padding: 10px;

                &-title {
                    font-size: 14px;
                    font-weight: 600;
                }

                ul {
                    list-style: none;
                    padding: 0;
                    padding-left: 10px;
                    margin-top: 8px;

                    li {
                        border-left: 1px solid rgb(216, 213, 213);
                        padding: 8px 10px;
                        width: 100%;
                        font-size: 13px;
                        font-weight: 500;
                        cursor: pointer;
                        margin: 0;

                        &:hover {
                            background-color: #e9ecef;
                        }

                        &.active {
                            background-color: #e9ecef;
                        }
                    }
                }
            }
        }
    }

}